<mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>
  <div class="container-fluid">
    <br>
    <div class="row">
        <div class="col col-lg-6 col-md-12 col-sm-12 firstColumn">
            <h1>Buscaminas</h1>
            <div class="row">
                <div class="col " style="text-align: left">
                    Minas restantes: {{ contadorMinas }} <br>
                    Minas marcadas: {{ minasDetectadas }} <br>
                </div>
                <div class="col" style="text-align:right">
                    <button mat-raised-button color="warn" (click)="reiniciarTablero()">Reiniciar</button>
                </div>
            </div>
            <br>
            <div class="container-fluid parent">
                <div class="child">
            <div *ngFor="let row of casillasTablero" style="display: flex;" >
                <div *ngFor="let casilla of row" class="casilla" [ngClass]="{ 'opened': casilla.descubierta, 'enabled': !casilla.descubierta }" (click)="chequeaCasilla(casilla)" (contextmenu)="colocarBandera(casilla,$event)">
                    <span *ngIf="casilla.esMina && casilla.descubierta"><mat-icon aria-hidden="false" fontIcon="settings"></mat-icon></span>
                    <span *ngIf="casilla.posibleMina"><mat-icon aria-hidden="false" fontIcon="flag"></mat-icon></span>
                    <span *ngIf="!casilla.esMina && !casilla.posibleMina">{{casilla.icono}}</span>
                </div>
            </div>
            </div></div>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12 secondColumn">
            <h1>Marcador</h1>
            <div class="mat-elevation-z8">
                <table mat-table aria-label="tableMarcador" [dataSource]="dataSource" matSort  matSortActive="id" matSortDirection="desc">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="resultado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
                        <td mat-cell *matCellDef="let element"> {{element.resultado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tiempo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo </th>
                        <td mat-cell *matCellDef="let element"> {{element.tiempo | date:'mm ss'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="marcadorColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: marcadorColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>