body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

span {
    display:table-cell;
    vertical-align:middle;
}
.casilla {
    display:table;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    background-color: grey;
    border-radius: 4px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    color:black;
    font-size: 20pt;
}
.enabled:hover {
    border: 3px solid red;
    background-color: slategrey;
}
.casilla.opened {
    background-color: darkgray;
}
html, body {
    height: 100%;
}
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .casilla {
        width: 50px;
        height: 50px;
   }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .casilla {
        width: 45px;
        height: 45px;
   }
}
@media all and (min-width: 480px) and (max-width: 768px) {
    .casilla {
        width: 45px;
        height: 45px;
   }
}
@media all and (max-width: 480px) {
    .casilla {
        width: 40px;
        font-size: 15pt;
   }
}
